# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

infra/terraform/.terraform
infra/terraform/artifacts
infra/terraform/.terraform.lock.hcl

libs
output/

.fleet/

document-management/test.pdf
document-management/test_signed.pdf
.quarkus/cli/plugins/quarkus-cli-catalog.json
